*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/.idea/vcs.xml
/.idea/misc.xml
/gradle/wrapper/gradle-wrapper.properties
/.idea/deploymentTargetDropDown.xml
/.idea/migrations.xml
/seal_engine/build/intermediates/aar_metadata/debug/aar-metadata.properties
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/shaders/Adaptor.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/shaders/Adaptor.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/shaders/Adaptor.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/shaders/Adaptor.dex
/seal_engine/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/seal_engine/build/intermediates/merged_manifest/debug/AndroidManifest.xml
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/animator/Animator$1.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/animator/Animator$1.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/animator/Animator$1.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/animator/Animator$1.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/animator/Animator$Animation.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/animator/Animator$Animation.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/animator/Animator$Animation.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/animator/Animator$Animation.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/animator/Animator.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/animator/Animator.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/animator/Animator.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/animator/Animator.dex
/seal_engine/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/BuildConfig.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/BuildConfig.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/BuildConfig.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/BuildConfig.dex
/seal_engine/build/generated/source/buildConfig/debug/com/seal/seal_engine/BuildConfig.java
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/camera/CameraSettings.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/camera/CameraSettings.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/camera/CameraSettings.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/camera/CameraSettings.dex
/seal_engine/build/.transforms/daf440b0649ed7a8a071a12349dc5897/transformed/classes/classes_dex/classes.dex
/seal_engine/build/intermediates/compile_library_classes_jar/debug/classes.jar
/seal_engine/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/seal_engine/build/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/textures/CubeMap.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/textures/CubeMap.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/textures/CubeMap.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/textures/CubeMap.dex
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/desugar_graph.bin
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/desugar_graph.bin
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/verticles/DrawableShape.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/verticles/DrawableShape.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/verticles/DrawableShape.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/verticles/DrawableShape.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/Engine$touch.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/Engine$touch.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/Engine$touch.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/Engine$touch.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/Engine.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/Engine.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/Engine.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/Engine.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/engine_object/EnObject.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/engine_object/EnObject.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/engine_object/EnObject.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/verticles/Face.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/verticles/Face.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/verticles/Face.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/verticles/Face.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/animator/FC.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/animator/FC.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/animator/FC.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/animator/FC.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/utils/FileUtils.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/utils/FileUtils.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/utils/FileUtils.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/utils/FileUtils.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/frameBuffers/FrameBuffer.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/frameBuffers/FrameBuffer.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/frameBuffers/FrameBuffer.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/frameBuffers/FrameBuffer.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/frameBuffers/FrameBufferUtils.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/frameBuffers/FrameBufferUtils.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/frameBuffers/FrameBufferUtils.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/frameBuffers/FrameBufferUtils.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/GamePage.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/GamePage.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/GamePage.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/GamePageInterface.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/GamePageInterface.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/GamePageInterface.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/GamePageInterface.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/holder/Holder.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/maths/Line.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/maths/Line.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/maths/Line.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/maths/Line.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/config/MainConfigurationFunctions.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/config/MainConfigurationFunctions.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/config/MainConfigurationFunctions.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/config/MainConfigurationFunctions.dex
/seal_engine/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/seal_engine/build/outputs/logs/manifest-merger-debug-report.txt
/seal_engine/build/intermediates/incremental/debug/packageDebugResources/merger.xml
/seal_engine/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/seal_engine/build/intermediates/incremental/mergeDebugShaders/merger.xml
/seal_engine/build/intermediates/incremental/packageDebugAssets/merger.xml
/seal_engine/build/intermediates/navigation_json/debug/navigation.json
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/OpenGLRenderer.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/OpenGLRenderer.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/OpenGLRenderer.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/OpenGLRenderer.dex
/seal_engine/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/seal_engine/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/images/PImage.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/images/PImage.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/images/PImage.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/images/PImage.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/maths/Plane.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/maths/Plane.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/maths/Plane.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/maths/Plane.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/maths/Point.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/maths/Point.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/maths/Point.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/maths/Point.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/verticles/Poligon.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/verticles/Poligon.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/verticles/Poligon.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/verticles/Poligon.dex
/seal_engine/build/tmp/compileDebugJavaWithJavac/previous-compilation-data.bin
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/camera/ProjectionMatrixSettings.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/camera/ProjectionMatrixSettings.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/camera/ProjectionMatrixSettings.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/camera/ProjectionMatrixSettings.dex
/seal_engine/build/intermediates/compile_r_class_jar/debug/R.jar
/seal_engine/build/intermediates/compile_symbol_list/debug/R.txt
/seal_engine/build/intermediates/local_only_symbol_list/debug/R-def.txt
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/results.bin
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/results.bin
/seal_engine/build/.transforms/b9df0424d58177602537dec8fd16f62a/results.bin
/seal_engine/build/.transforms/be461edec95670485b7d5cc2c0391e52/results.bin
/seal_engine/build/.transforms/ccbc83b45211bcfbe0575407cb6256b5/results.bin
/seal_engine/build/.transforms/daf440b0649ed7a8a071a12349dc5897/results.bin
/seal_engine/build/.transforms/dc72ff2e72ae2a4b7bd4ce93c111714c/results.bin
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/engine_object/SealObject.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/shaders/Shader.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/shaders/Shader.class
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Shader.class.uniqueId0
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/shaders/Shader.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/shaders/Shader.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/shaders/ShaderData.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/shaders/ShaderData.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/shaders/ShaderData.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/shaders/ShaderData.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/shaders/ShaderUtils.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/shaders/ShaderUtils.class
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ShaderUtils.class.uniqueId1
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/shaders/ShaderUtils.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/shaders/ShaderUtils.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/verticles/Shape.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/verticles/Shape.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/verticles/Shape.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/verticles/Shape.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/verticles/SimplePoligon.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/verticles/SimplePoligon.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/verticles/SimplePoligon.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/verticles/SimplePoligon.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/verticles/SkyBox.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/verticles/SkyBox.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/verticles/SkyBox.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/verticles/SkyBox.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/utils/SkyBoxShaderAdaptor.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/utils/SkyBoxShaderAdaptor.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/utils/SkyBoxShaderAdaptor.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/utils/SkyBoxShaderAdaptor.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/textures/Texture.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/textures/Texture.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/textures/Texture.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/textures/Texture.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/utils/Utils$1.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/utils/Utils$1.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/utils/Utils$1.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/utils/Utils$1.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/utils/Utils.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/utils/Utils.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/utils/Utils.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/utils/Utils.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/maths/Vec3.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/maths/Vec3.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/maths/Vec3.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/maths/Vec3.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/verticles/VectriesShapesManager.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/verticles/VectriesShapesManager.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/verticles/VectriesShapesManager.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/verticles/VectriesShapesManager.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/vertex_bueffer/VertexBuffer.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/vertex_bueffer/VertexBuffer.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/vertex_bueffer/VertexBuffer.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/vertex_bueffer/VertexBuffer.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/verticles/VerticleSet.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/verticles/VerticleSet.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/verticles/VerticleSet.dex
/seal_engine/build/.transforms/3711a77ed402fff68fe8bb46bd30606f/transformed/debug/debug_dex/com/seal/seal_engine/engine/main/verticles/VerticleSet.dex
/.idea/shelf/Uncommitted_changes_before_Checkout_at_01_05_2024__22_12__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_01_05_2024,_22_12_[Changes]/shelved.patch
/.idea/deploymentTargetSelector.xml
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Adaptor.class.uniqueId7
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Animator$1.class.uniqueId8
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Animator$Animation.class.uniqueId2
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Animator.class.uniqueId5
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/shadows/DepthShaderAdaptor.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/shadows/DepthShaderAdaptor.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/shadows/DepthShaderAdaptor.dex
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/shadows/DirectedShadow.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/shadows/DirectedShadow.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/shadows/DirectedShadow.dex
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Engine$touch.class.uniqueId3
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Engine.class.uniqueId17
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/EnObject.class.uniqueId13
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FC.class.uniqueId19
/seal_engine/build/intermediates/packaged_res/debug/raw/fragment_shader.glsl
/seal_engine/build/intermediates/packaged_res/debug/raw/fragment_shader_depth.glsl
/seal_engine/build/intermediates/packaged_res/debug/raw/fragment_shader_light.glsl
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/FrameBufferUtils.class.uniqueId15
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/GamePage.class.uniqueId20
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/holder/Holder.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/holder/Holder.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/holder/Holder.dex
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/MainConfigurationFunctions.class.uniqueId12
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/OpenGLRenderer.class.uniqueId23
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/PImage.class.uniqueId18
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Point.class.uniqueId21
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ProjectionMatrixSettings.class.uniqueId11
/seal_engine/build/intermediates/compiled_local_resources/debug/out/raw_fragment_shader.glsl.flat
/seal_engine/build/intermediates/compiled_local_resources/debug/out/raw_fragment_shader_depth.glsl.flat
/seal_engine/build/intermediates/compiled_local_resources/debug/out/raw_fragment_shader_light.glsl.flat
/seal_engine/build/intermediates/compiled_local_resources/debug/out/raw_skybox_fragment.glsl.flat
/seal_engine/build/intermediates/compiled_local_resources/debug/out/raw_skybox_vertex.glsl.flat
/seal_engine/build/intermediates/compiled_local_resources/debug/out/raw_vertex_shader.glsl.flat
/seal_engine/build/intermediates/compiled_local_resources/debug/out/raw_vertex_shader_depth.glsl.flat
/seal_engine/build/intermediates/compiled_local_resources/debug/out/raw_vertex_shader_light.glsl.flat
/seal_engine/build/intermediates/javac/debug/classes/com/seal/seal_engine/engine/main/engine_object/SealObject.class
/seal_engine/build/intermediates/runtime_library_classes_dir/debug/com/seal/seal_engine/engine/main/engine_object/SealObject.class
/seal_engine/build/.transforms/939fb1cf1943e12c31f60572e7a14dc9/transformed/debug/com/seal/seal_engine/engine/main/engine_object/SealObject.dex
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Shader.class.uniqueId16
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/ShaderUtils.class.uniqueId10
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Shape.class.uniqueId14
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/SimplePoligon.class.uniqueId22
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/SkyBox.class.uniqueId9
/seal_engine/build/intermediates/packaged_res/debug/raw/skybox_fragment.glsl
/seal_engine/build/intermediates/packaged_res/debug/raw/skybox_vertex.glsl
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Texture.class.uniqueId0
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Utils$1.class.uniqueId6
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Utils.class.uniqueId4
/seal_engine/build/tmp/compileDebugJavaWithJavac/compileTransaction/stash-dir/Vec3.class.uniqueId1
/seal_engine/build/intermediates/packaged_res/debug/raw/vertex_shader.glsl
/seal_engine/build/intermediates/packaged_res/debug/raw/vertex_shader_depth.glsl
/seal_engine/build/intermediates/packaged_res/debug/raw/vertex_shader_light.glsl
/.idea/
